# Skip certificate verification Schema

```txt
http://schema.nethserver.org/traefik/get-route-output.json#/properties/skip_cert_verify
```

Do not verify the backend's certificate

| Abstract            | Extensible | Status         | Identifiable            | Custom Properties | Additional Properties | Access Restrictions | Defined In                                                                      |
| :------------------ | :--------- | :------------- | :---------------------- | :---------------- | :-------------------- | :------------------ | :------------------------------------------------------------------------------ |
| Can be instantiated | No         | Unknown status | Unknown identifiability | Forbidden         | Allowed               | none                | [get-route-output.json\*](traefik/get-route-output.json "open original schema") |

## skip\_cert\_verify Type

`boolean` ([Skip certificate verification](get-route-output-properties-skip-certificate-verification.md))
